<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
         point="org.eclipse.ui.views">
      <view
            class="org.osgi.ds.ui.ComponentVisualizationView"
            icon="res/component.png"
            id="org.osgi.ds.ui.componentview"
            name="Component Dependencies"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="org.osgi.ds.ui.ComponentViewer"
            icon="res/component.png"
            id="org.osgi.ds.ui.componentlist"
            name="Components"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="org.osgi.ds.ui.ServiceViewer"
            icon="res/satisfiedService.png"
            id="com.kuebler.osgi.ds.ui.services"
            name="Services"
            restorable="true">
      </view>
   </extension>
<extension
      point="org.eclipse.ui.handlers">
   <handler
         class="org.osgi.ds.ui.handler.FilterConfigurationUnsatisfiedComponentsHandler"
         commandId="org.osgi.ds.ui.showunsatisfiedconfig">
   </handler>
   <handler
         class="org.osgi.ds.ui.handler.FilterUnsatisfiedReferenceComponentsHandler"
         commandId="org.osgi.ds.ui.showunsatisfied">
   </handler>
   <handler
         class="org.osgi.ds.ui.handler.FilterSatisfiedComponentsHandler"
         commandId="org.osgi.ds.ui.showsatisfied">
   </handler>
   <handler
         class="org.osgi.ds.ui.handler.FilterActiveComponentsHandler"
         commandId="org.osgi.ds.ui.showactive">
   </handler>
   <handler
         class="org.osgi.ds.ui.handler.AddConnectionHandler"
         commandId="com.kuebler.osgi.ds.ui.addconnection">
   </handler>
   <handler
         class="org.osgi.ds.ui.handler.RefreshHandler"
         commandId="com.kuebler.osgi.ds.ui.refresh">
   </handler>
 
</extension>
<extension
      point="org.eclipse.ui.commands">
   <command
         defaultHandler="org.osgi.ds.ui.handler.SelectComponentHandler"
         id="org.osgi.ds.ui.selectcomponent"
         name="Select Component">
   </command>
   <command
         description="Shows the unsatisfied configation components"
         id="org.osgi.ds.ui.showunsatisfiedconfig"
         name="Show Unsatisfied Configuration">
   </command>
   <command
         description="Shows the unsatisfied components"
         id="org.osgi.ds.ui.showunsatisfied"
         name="Show Unsatisfied Reference">
   </command>
   <command
         description="Shows the satisfied but not active components"
         id="org.osgi.ds.ui.showsatisfied"
         name="Show Satisfied">
   </command>
   <command
         description="Shows the active components"
         id="org.osgi.ds.ui.showactive"
         name="Show Active">
   </command>
   <command
         id="org.osgi.ds.ui.selectscr"
         name="name">
   </command>

</extension>
<extension
      point="org.eclipse.ui.menus">
   <menuContribution
         locationURI="menu:org.osgi.ds.ui.componentlist?after=additions">
      <command
            commandId="org.osgi.ds.ui.showunsatisfiedconfig"
            label="Show Unsatisfied Configuration"
            style="toggle">
      </command>
      <command
            commandId="org.osgi.ds.ui.showunsatisfied"
            label="Show Unsatisfied Reference"
            style="toggle">
      </command>
      <command
            commandId="org.osgi.ds.ui.showsatisfied"
            label="Show Satisfied"
            style="toggle">
      </command>
      <command
            commandId="org.osgi.ds.ui.showactive"
            label="Show Active"
            style="toggle">
      </command>

   </menuContribution>
   <menuContribution
         allPopups="false"
         locationURI="toolbar:org.osgi.ds.ui.componentlist?after=additions">
      <command
            commandId="com.kuebler.osgi.ds.ui.refresh"
            icon="res/Actions-view-refresh-icon.png"
            style="push">
      </command>
      <dynamic
            class="org.osgi.ds.ui.SCRToolContributor"
            id="com.kuebler.osgi.ds.ui.select">
      </dynamic>
   </menuContribution>
</extension>
<extension
    point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
    <propertyContributor contributorId="component.PropertyContributor"> 
        <propertyCategory category="Component"> 
        </propertyCategory> 
    </propertyContributor> 
</extension>
<extension
      point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
   <propertyTabs
          contributorId="component.PropertyContributor">
   <propertyTab
         category="Component"
         id="component.main.tab"
         label="Properties">
    </propertyTab>
   </propertyTabs>
</extension>
<extension
      point="org.eclipse.ui.views.properties.tabbed.propertySections">
    <propertySections
          contributorId="component.PropertyContributor">
        <propertySection
              class="org.osgi.ds.ui.properties.ComponentPropertySection"
              id="component.main.tab.properties"
              tab="component.main.tab">
        </propertySection>
    </propertySections>
</extension>
     
</plugin>
